<ul class="nav flex-column sidebar">
  <li class="nav-item mat-elevation-z4">
    <a routerLink="/home" class="nav-link active">
      <mat-icon class="float-left">home</mat-icon>
      &nbsp;&nbsp;&nbsp;Home
    </a>
  </li>
  <li class="nav-item mat-elevation-z3">
    <a routerLink="/create" class="nav-link ">
      <mat-icon class="float-left">api</mat-icon>
      &nbsp;&nbsp;&nbsp;Onboarding
    </a>
  </li>
  <li class="nav-item  mat-elevation-z1 ">
    <a routerLink="/history" class="nav-link">
      <mat-icon class="float-left">history</mat-icon>
      &nbsp;&nbsp;&nbsp;History
    </a>
  </li>
</ul>
