.list {
  margin-top: 3%;
}

td {
  font-size: 11px;
}

::ng-deep .mat-table {
  background: rgba(255, 255, 255, 0);
}

::ng-deep .mat-paginator {
  background: rgba(255, 255, 255, 0);
  color: #0b0a29;
}

::ng-deep .mat-header-cell {
  color: #0b0a29;
}
