/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.no-left-padding {
  padding-left: 0px !important
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color:#659DBD !important;
  color: #103358
}
